<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UILogin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UILogin.Properties.Settings>
            <setting name="UILogin_SrvSysBace_Service1" serializeAs="String">
                <value>http://webt.lilang.com:9001/service/ServiceLogin.asmx</value>
            </setting>
        </UILogin.Properties.Settings>
    </applicationSettings>
</configuration>