<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="DBCon" value="Data Source=192.168.1.204,1330;Initial Catalog=sq_mysys;User ID=dblogin;Password=Dblogin123456!;"/>
    <!-- jquery easy ui Themes-->
    <add key="Themes" value="pepper-grinder"/>
	</appSettings>
	<system.web>
		<!-- asp.net默认最大上传文件大小为4M,运行超时时间为90S-->
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<httpModules>
			<add name="MyHttpModule" type="MyHttpModule"/>
		</httpModules>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<compilation debug="true"/></system.web>
</configuration>
