<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
     
    <add key="EFastDBCon" value="Server=10.0.0.95;Database=efast;Uid=root;Pwd=baison;CharSet=utf8;"/>
    <add key="cfsf" value="Server=192.168.35.30;Database=CFSF;Uid=lllogin;Pwd=rw1894tla;"/>
    <add key="cfsfmas" value="Server=192.168.35.30;Database=CFSFMAS;Uid=lllogin;Pwd=rw1894tla;"/>
    <add key="newcoffee" value="Server=192.168.35.62;Database=tlsoft;Uid=sa;Pwd=ll=8727;"/>
    <!--<add key="EFastDBCon" value="Server=192.168.35.31;Database=efast;Uid=admin;Pwd=1234;CharSet=utf8;"/>-->
    <add key="WebReference.MerchantDebitPki" value="http://218.242.247.13/ddpproduct/services/"/>
    <add key="Bill99IsTest" value="0"/>
  </appSettings>
	<system.web>
    <globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" fileEncoding="gb2312"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<pages>
			<controls>
				<add tagPrefix="ctrl" namespace="abc" assembly="MyCtrl"/>
			</controls>
		</pages>
	</system.web>
</configuration>
